// COX POC BANNER / HEADER STYLES

#banner {
	background: $primary;

	@include card(2);

	display: inline-block;
	padding: 1.25em 2em;
	width: 100%;
}

.logo img {
	height: auto;
	width: 100px;
}

.btn-sign-in {
	background-color: transparent;
	background-image: none;

	@include border-radius(4px);

	color: #FFF;
	padding: 5px;
	position: absolute;
	right: 25px;
	text-shadow: none;
	top: 15px;

	@include transition(all 0.25s ease);

	width: auto;

	&:hover, &:focus {
		background-color: $secondary;
		color: #FFF;
		text-decoration: none;
	}
}