// COX POC NAVIGATION STYLES

#navigation {
	display: inline-block;

	.nav-item {
		display: inline-block;
		padding: 5px 15px;

		a {
			color: #FFF;
		}
	}
}

.modify-pages .lfr-nav-sortable >a > span {
	padding-left: 0;
}